.btn{
    background-color: #0e54ae;
    border: 0px;
    color: #fff;
    width: 50%;
}
.btn:hover{
    background-color: #0d438a;
    color: #fff;
}

/* =======================
** Responsive
======================== */
@media only screen and (max-width: 576px) {
    .btn{
        width: 80%;
    }
  }
  @media only screen and (min-width: 577px) and (max-width: 992px) {
    .btn{
        width: 80%;
    }
  }